@tailwind base;
@tailwind components;
@tailwind utilities;


.Nav {
    color: white;
}

body {
    font-family: 'Lato', sans-serif;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: 2px solid black;
    outline: none;
    color: #fff;
    /* background: #111; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #35967c, #09eb51, #ebe8ee, #06692c, #3bf50c);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* .glow-on-hover:active {
    color: #000
} */

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.para {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px
}

.link {
    text-decoration: none;
    /* color: white; */
    color: black;
    text-shadow: 1px 1px rgb(33, 33, 33);
}

.dropdown {
    padding: 0;
    margin: 0;
    /* background-color: rgb(124, 127, 129); */
    border-bottom: 2px solid rgb(74, 187, 74);

}
.Section{
    border: 2px solid grey ;
    /* box-shadow: 1px 5px 3px 5px grey;
     */
     box-shadow: 1px 1px 10px 1px ;
    margin: 10px;
}
.Donate:hover{
    color: rgb(74, 187, 74) ;
}